global
  log /dev/log  local0 warning
  chroot        /var/lib/haproxy
  pidfile       /var/run/haproxy.pid
  maxconn       4000
  user          haproxy
  group         haproxy
  daemon

  stats socket /var/lib/haproxy/stats

defaults
  log global
  option  httplog
  option  dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

frontend kube-apiserver
  bind :4443 interface {{ interface }}
  mode tcp
  option tcplog
  default_backend kube-apiserver

frontend kube-http
  bind :80 interface {{ interface }}
  mode http
  default_backend kube-http

frontend kube-https
  bind :443 interface {{ interface }}
  mode http
  default_backend kube-https

backend kube-apiserver
  mode tcp
  option tcplog
  option tcp-check
  balance roundrobin
  default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for host in groups['cpn_nodes'] %}
  server {{ hostvars[host].inventory_hostname }} {{ hostvars[host].ip_address }}:6443 check
{% endfor %}

backend kube-http
  mode http
  option tcplog
  option tcp-check
  balance roundrobin
  default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for host in groups['cpn_nodes'] %}
  server {{ hostvars[host].inventory_hostname }} {{ hostvars[host].ip_address }}:8000 check
{% endfor %}
{% for host in groups['wrk_nodes'] %}
  server {{ hostvars[host].inventory_hostname }} {{ hostvars[host].ip_address }}:8000 check
{% endfor %}

backend kube-https
  mode http
  option tcplog
  option tcp-check
  balance roundrobin
  default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for host in groups['cpn_nodes'] %}
  server {{ hostvars[host].inventory_hostname }} {{ hostvars[host].ip_address }}:8443 check
{% endfor %}
{% for host in groups['wrk_nodes'] %}
  server {{ hostvars[host].inventory_hostname }} {{ hostvars[host].ip_address }}:8443 check
{% endfor %}

