frontend kubernetes-frontend
  bind :8443 interface {{ ansible_default_ipv4.interface }}
  mode tcp
  option tcplog
  default_backend kubernetes-backend

backend kubernetes-backend
  option httpchk GET /healthz
  http-check expect status 200
  mode tcp
  option ssl-hello-chk
  balance roundrobin
  server cpn001 {{ cpn001 }}:6443 check fall 3 rise 2
  server cpn002 {{ cpn002 }}:6443 check fall 3 rise 2
  server cpn003 {{ cpn003 }}:6443 check fall 3 rise 2
